<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.feifan.bp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="9"
    android:versionName="1.6.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name=".PlatformApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LaunchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".browser.BrowserTabActivity"
            android:label=" "
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".browser.BrowserActivity"
            android:label=" "
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CodeScannerActivity"
            android:label="@string/lable_activity_scanner"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.feifan.croplib.CropImageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".PlatformTopbarActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".PlatformTabActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".transactionflow.TransFlowTabActivity"
            android:label=" "
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".salesmanagement.RegisterDetailActivity"
            android:label=" "
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="pgyer"/>
    </application>

</manifest>
